.header {
  text-align: center;
}

.control {
  margin: 40px;
}

.control .icon {
  width: 76px;
  height: 76px;
  font-size: 76px;
  line-height: 76px;
}

.container {
  overflow: auto;
}

.card-bg {
  align-items: center;
  justify-content: center;
  display: flex;
}